--adaptiveOpacity50: rgba(0, 23, 51, 0.02);
--adaptiveOpacity100: rgba(2, 32, 71, 0.05);
--adaptiveOpacity200: rgba(0, 27, 55, 0.1);
--adaptiveOpacity300: rgba(0, 29, 58, 0.18);
--adaptiveOpacity400: rgba(0, 25, 54, 0.31);
--adaptiveOpacity500: rgba(3, 24, 50, 0.46);
--adaptiveOpacity600: rgba(0, 19, 43, 0.58);
--adaptiveOpacity700: rgba(3, 18, 40, 0.7);
--adaptiveOpacity800: rgba(0, 12, 30, 0.8);
--adaptiveOpacity900: rgba(2, 9, 19, 0.91);
--adaptiveDisabledBlue500: #c9e2ff;
--adaptiveBackground: #ffffff;
--adaptiveLayeredBackground: #ffffff;
--adaptiveFloatBackground: #ffffff;
--adaptiveDimmedBackground: rgba(0, 0, 0, 0.2);
--adaptiveHairlineBorder: #e5e8eb;
--adaptiveGreyBackground: #f2f4f6;
--adaptiveGrey50: #f9fafb;
--adaptiveGrey100: #f2f4f6;
--adaptiveGrey200: #e5e8eb;
--adaptiveGrey300: #d1d6db;
--adaptiveGrey400: #b0b8c1;
--adaptiveGrey500: #8b95a1;
--adaptiveGrey600: #6b7684;
--adaptiveGrey700: #4e5968;
--adaptiveGrey800: #333d4b;
--adaptiveGrey900: #191f28;
--adaptiveGreyOpacity50: rgba(0, 23, 51, 0.02);
--adaptiveGreyOpacity100: rgba(2, 32, 71, 0.05);
--adaptiveGreyOpacity200: rgba(0, 27, 55, 0.1);
--adaptiveGreyOpacity300: rgba(0, 29, 58, 0.18);
--adaptiveGreyOpacity400: rgba(0, 25, 54, 0.31);
--adaptiveGreyOpacity500: rgba(3, 24, 50, 0.46);
--adaptiveGreyOpacity600: rgba(0, 19, 43, 0.58);
--adaptiveGreyOpacity700: rgba(3, 18, 40, 0.7);
--adaptiveGreyOpacity800: rgba(0, 12, 30, 0.8);
--adaptiveGreyOpacity900: rgba(2, 9, 19, 0.91);
--adaptiveBlue50: #e8f3ff;
--adaptiveBlue100: #c9e2ff;
--adaptiveBlue200: #90c2ff;
--adaptiveBlue300: #64a8ff;
--adaptiveBlue400: #4593fc;
--adaptiveBlue500: #3182f6;
--adaptiveBlue600: #2272eb;
--adaptiveBlue700: #1b64da;
--adaptiveBlue800: #1957c2;
--adaptiveBlue900: #194aa6;
--adaptiveBlueOpacity50: rgba(100, 168, 255, 0.15);
--adaptiveBlueOpacity100: rgba(100, 168, 255, 0.34);
--adaptiveBlueOpacity200: rgba(100, 168, 255, 0.70);
--adaptiveRed50: #ffeeee;
--adaptiveRed100: #ffd4d6;
--adaptiveRed200: #feafb4;
--adaptiveRed300: #fb8890;
--adaptiveRed400: #f66570;
--adaptiveRed500: #f04452;
--adaptiveRed600: #e42939;
--adaptiveRed700: #d22030;
--adaptiveRed800: #bc1b2a;
--adaptiveRed900: #a51926;
--adaptiveRedOpacity50: rgba(251, 136, 144, 0.15);
--adaptiveRedOpacity100: rgba(251, 136, 144, 0.34);
--adaptiveRedOpacity200: rgba(251, 136, 144, 0.70);
--adaptiveOrange50: #fff3e0;
--adaptiveOrange100: #ffe0b0;
--adaptiveOrange200: #ffcd80;
--adaptiveOrange300: #ffbd51;
--adaptiveOrange400: #ffa927;
--adaptiveOrange500: #fe9800;
--adaptiveOrange600: #fb8800;
--adaptiveOrange700: #f57800;
--adaptiveOrange800: #ed6700;
--adaptiveOrange900: #e45600;
--adaptiveYellow50: #fff9e7;
--adaptiveYellow100: #ffefbf;
--adaptiveYellow200: #ffe69b;
--adaptiveYellow300: #ffdd78;
--adaptiveYellow400: #ffd158;
/* --adaptiveYellow500: #ffc342; */
--adaptiveYellow600: #ffb331;
--adaptiveYellow700: #faa131;
--adaptiveYellow800: #ee8f11;
--adaptiveYellow900: #dd7d02;
--adaptiveYellowOpacity50: rgba(255, 195, 66, 0.20);
--adaptiveYellowOpacity100: rgba(255, 195, 66, 0.35);
--adaptiveYellowOpacity200: rgba(255, 195, 66, 0.60);
--adaptiveGreen50: #f0faf6;
--adaptiveGreen100: #aeefd5;
--adaptiveGreen200: #76e4b8;
--adaptiveGreen300: #3fd599;
--adaptiveGreen400: #15c47e;
--adaptiveGreen500: #03b26c;
--adaptiveGreen600: #02a262;
--adaptiveGreen700: #029359;
--adaptiveGreen800: #028450;
--adaptiveGreen900: #027648;
--adaptiveGreenOpacity50: rgba(21, 196, 126, 0.15);
--adaptiveTeal50: #edf8f8;
--adaptiveTeal100: #bce9e9;
--adaptiveTeal200: #89d8d8;
--adaptiveTeal300: #58c7c7;
--adaptiveTeal400: #30b6b6;
--adaptiveTeal500: #18a5a5;
--adaptiveTeal600: #109595;
--adaptiveTeal700: #0c8585;
--adaptiveTeal800: #097575;
--adaptiveTeal900: #076565;
--adaptivePurple50: #f9f0fc;
--adaptivePurple100: #edccf8;
--adaptivePurple200: #da9bef;
--adaptivePurple300: #c770e4;
--adaptivePurple400: #b44bd7;
--adaptivePurple500: #a234c7;
--adaptivePurple600: #9128b4;
--adaptivePurple700: #8222a2;
--adaptivePurple800: #73228e;
--adaptivePurple900: #65237b;
--adaptiveBackgroundDimmed: rgba(0, 0, 0, 0.2);
--adaptiveBackgroundLevelB01: #f2f4f6;
--adaptiveBackgroundLevel01: #ffffff;
--adaptiveBackgroundLevel02: #ffffff;
--adaptiveBackgroundLevel03: #ffffff;
--adaptiveBackgroundLevel04: #ffffff;
--adaptiveBackgroundScreen: #f6f7f9;