@tailwind base;
@tailwind components;
@tailwind utilities;

.wrap {
  width: 100%;
  height: 100%;
  margin-top: 66px;
  background-color: rgba(0, 0, 0, 0.10);
}

.bg-piona {
  background-image: url('/image/job/piona.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text-label {
  color: #fff;
  padding: 0.25rem 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 1);
  margin-right: 0.25rem;
}