@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.wrap {
  width: 100%;
  min-width: 320px;
  height: 100%;
  color: #191f28;
  background-color: #fff;
}

.min-h-main {
  min-height: calc(100vh - 169px);
}

.text-label {
  color: #fff;
  padding: 0.25rem 0.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 1);
  margin-right: 0.25rem;
}

.grid-main {
  display: grid;
  grid-template-columns: 50px minmax(90px, 1fr) 70px;
}

/* header */
.header__search svg {
  width: 16px;
  height: 16px;
}

/* footer */
.footer__navBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  gap: 2px 8px;
}

.footer__nav li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__nav li::after {
  content: '';
  display: block;
  width: 1px;
  height: 12px;
  background-color: #8b95a1;
}

.footer__nav li:last-child:after {
  display: none;
}

.footer__nav li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  word-break: keep-all;
}

.footer__nav.sns li a {
  font-weight: bold;
}

.footer__nav li span {
  max-height: 18px;
}

.footer__nav li svg {
  width: 18px;
  height: 18px;
  fill: #8b95a1;
}

/* 광고 */
.ad__banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ad__kakao_728_90 {
  display: block;
  max-height: 90px;
}

.ad__kakao_320_100 {
  display: none;
  max-height: 100px;
}

.ad__banner2 {
  width: 160px;
  height: 600px;
  position: absolute;
  top: 110px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  /* border-radius: 5px; */
  z-index: 99;
  overflow: hidden;
}

.ad__banner2.left {
  left: calc(50% - 820px);
}

.ad__banner2.right {
  right: calc(50% - 820px);
}

.ad__banner2.fixed {
  position: fixed;
  top: 70px;
}

.ad__banner2.left.fixed {
  left: calc(50% - 820px);
}

.ad__banner2.right.fixed {
  right: calc(50% - 820px);
}

/* swiper */
.swiper-pagination-bullet {
  border-radius: 2px !important;
  transition: all 0.3s ease-in-out;
  transform-origin: right center;
}
.swiper-pagination-bullet-active {
  border-radius: 2px !important;
  background-color: #fff !important;
  width: 30px !important;
}

/* 팝업 */
.ballon {
  display: none;
  position: absolute;
  min-width: 100px;
  left: 50%;
  bottom: 0;
  text-align: center;
  transform: translateY(calc(100% + 14px)) translateX(-50%);
  background: #484848;
  color: white;
  border-radius: 5px;
  padding: 5px 5.5px;
  z-index: 999;
  white-space: nowrap;
}

.ballon:after {
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #484848;
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* 버튼 */
.btn-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 98px;
  height: 44px;
}

.btn-1 {
  display: inline-block;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  background-color: #000;
  border: 1px solid #000;
}
.btn-1:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.btn-2 {
  display: inline-block;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  background-color: #8c8c8c;
  border: 1px solid #8c8c8c;
}
.btn-2:hover {
  background-color: #777;
  border: 1px solid #777;
}

/* 로딩 */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #8b95a1;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 랭킹 */
.bg-rank1 {
  background: linear-gradient(90deg, rgba(228, 211, 157, 1) 0%, rgba(255, 255, 255, 0) 50%);
  background-position: 100%;
  background-repeat: no-repeat;
}
.bg-rank2 {
  background: linear-gradient(90deg, rgba(194, 197, 202, 1) 0%, rgba(255, 255, 255, 0) 50%);
  background-position: 100%;
  background-repeat: no-repeat;
}
.bg-rank3 {
  background: linear-gradient(90deg, rgba(186, 152, 143, 1) 0%, rgba(255, 255, 255, 0) 50%);
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-laurel {
  background-image: url('/image/svg/laurel.svg');
  background-size: 30px;
  background-position-y: 60%;
  background-position-x: center;
  background-repeat: no-repeat;
}

/* 캐릭터 */
.bg-neamhain {
  background-image: url('/image/character/neamhain.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-sanyaa {
  background-image: url('/image/character/sanyaa.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-sou {
  background-image: url('/image/character/sou.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-achel {
  background-image: url('/image/character/achel.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-czern {
  background-image: url('/image/character/czern.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-latiya {
  background-image: url('/image/character/latiya.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-letty {
  background-image: url('/image/character/letty.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-lethor {
  background-image: url('/image/character/lethor.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-danah {
  background-image: url('/image/character/danah.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-tessa {
  background-image: url('/image/character/tessa.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-kael {
  background-image: url('/image/character/kael.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-lethor {
  background-image: url('/image/character/lethor.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-bel {
  background-image: url('/image/character/bel.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-hurk {
  background-image: url('/image/character/hurk.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}
.bg-miul {
  background-image: url('/image/character/miul.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-grimden {
  background-image: url('/image/character/grimden.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-miri {
  background-image: url('/image/character/miri.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-delia {
  background-image: url('/image/character/delia.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-hagie {
  background-image: url('/image/character/hagie.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-arisha {
  background-image: url('/image/character/arisha.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-lynn {
  background-image: url('/image/character/lynn.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-vella {
  background-image: url('/image/character/vella.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-kay {
  background-image: url('/image/character/kay.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-kalok {
  background-image: url('/image/character/kalok.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-evy {
  background-image: url('/image/character/evy.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-fiona {
  background-image: url('/image/character/fiona.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

.bg-lethita {
  background-image: url('/image/character/lethita.webp');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}

/* 게시글 */
.info-line > li {
  position: relative;
  padding-left: 0.7rem;
  margin-left: 0.7rem;
}
.info-line > li::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  border-left: 1px solid #999;
}
.info-line > li:first-child {
  padding-left: 0;
  margin-left: 0;
}
.info-line > li:first-child::after {
  display: none;
}

/* 기타 */
.ql-editor {
  min-height: 50vh;
  background-color: #f3f3f3;
}

/* 반응형 */
@media (max-width: 1800px) {
  .ad__banner2.left {
    left: 0;
  }

  .ad__banner2.right {
    right: 0;
  }
}

@media (max-width: 1680px) {
  .ad__banner2 {
    display: none;
  }
}

@media (max-width: 727px) {
  .ad__kakao_728_90 {
    display: none;
  }
}

@media (max-width: 600px) {
  .footer__navBox {
    align-items: flex-start;
    gap: 0.25rem;
    flex-direction: column;
  }

  .bg-laurel {
    background: none;
  }
}

@media (max-width: 425px) {
  .ad__kakao_320_100 {
    display: block;
  }
}
